/* Body */
body{
  background-color: rgb(212,169,114);
  color: #312c2c;
  overflow-x: hidden;
}
.bgWrap {
  left: 0;
  position: absolute;
  z-index: -1;
  opacity: 0.5;
  width: inherit;
  bottom: 0;
  overflow: hidden;
  height: 1000px;
}
.bodyBg {
  margin-bottom: : -390px;
  width: 163%;
  margin-left: -49%;
}
#bodyPage {
  min-height: 591px;
  position: relative;
  padding-bottom: 3%;
}
#left {
  display: inline-block;
  height: 100%;
  margin-left: 1.5%;
  margin-top: 3%;
  width: 60%;
  padding: 3%;
  background-color: rgba(217,203,190,0.68);
  border-radius: 13px;
}
#right {
  float: right;
  margin-right: 1.5%;
  margin-top: 3%;
  width: 33%;
  padding: 3%;
  background-color: rgba(217,203,190,0.68);
  border-radius: 13px;
}
#right .news {
  height: auto;
}
#right .news img {
  width: 100%;
}
#right .newsContent {
  padding-top: 2.5%;
}
.news {
  border: 1px solid #312c2c;
  height: 150px;
  padding-bottom: 1%;
  margin-bottom: 3%;
  padding: 2%;
  border-radius: 12px;
}
.news img {
  height: 100%;
  float: left;
}
.newsContent {
  padding-left: 3%;
  height: 100%;
  overflow: hidden;
}
.newsContent a {
  text-decoration: none;
  color: #312c2c;
}

/* Responsive */
@media (max-width:500px) {
  .bodyBg {
  display: none;
  }
}
@media (max-width:1060px) {
  #right {
    display: none;
  }
  #left {
    width: 97.5%;
  }
}
