/* Body */

body{
  background-color: rgb(212,169,114);
}
.homeDrum {
  position: absolute;
  margin-top: -19px;
  height: 82%;
  left: -100px;
  opacity: 0.6;
  z-index: -1;
}

/* Introduction Part */

.introBox {
  float: right;
  height: inherit;
  width: 40%;
  margin-right: 3%;
}
.introBox .tit {
  text-align: center;
  padding: 3%;
  background-color: #312c2c;
  color: rgb(195,137,74);
  font-size: 4em;
  margin-bottom: 7px;
}
.introBox .content {
  text-align: center;
  padding: 1%;
  color: #312c2c;
  background-color: rgb(235,210,188);
  font-size: 1.5em;
}
