/* Header */

/* Resetting values */
* {
  font-family: "Proxima Nova",Arial,sans-serif;
  margin: 0px;
  padding: 0px;
}

/* Header */

header {
  background-color: rgb(245,212,159);
  border-bottom: 2px solid orange;
}
#logo {
  float: left;
  height: 82px;
  width: 80px;;
  margin-top: 1%;
  margin-left: 2%;
}

/* Navigation Bar */
.navBar, .navBar li {
  display: inline-block;
}
.navBar {
  width: 45%;
  margin-left: 1%;
}
.navBar a {
  font-size: 1.25em;
  font-weight: 500;
  text-decoration: none;
  color: #312c2c;
}
.navBar li {
  padding:40px;
  padding-left: 3%;
  padding-right: 3%;
}
.navBar li:hover {
  background-color: rgb(212,169,114);
}

/* Login */
.login {
  text-align: center;
  display: inline-block;
  color: #312c2c;
  width: 40%;
  float: right;
  margin-top: 2%;
  margin-right: 2%;
}
.subLogin {
  text-align: left;
  display: inline-block;
  margin-left: 2%;
}
.login button {
  margin-left: 4px;
  color: rgb(245,212,159);
  background-color: #312c2c;
  border-radius: 3px;
  border: 1px solid rgb(212,169,114);
  padding: 3px;
}
